a{
    text-decoration: none !important;
}

.btn-body{
    height:80px;
    width:80px;
    border-radius: 20px;
    color: #f8d9f8;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
    transition: .2s all ease ;
     background-color: rgba(244, 187, 146, 0.0);

}
.btn-body:hover{
    color: white;
}
.btn-body.active{
    background-color: rgb(50, 203, 94);
    color:#fff;
    transform:scale(1.05);
}
.btn-title{
    margin:4px auto;
    font-weight: 600;
    font-size: 14px;
}